body {
    line-height: 24px;
}

h2 {
    font-size: 250%;
    font-weight: normal;
    margin-top: 32px;
    margin-bottom: 32px;
}

h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    /*font-weight: bold;*/
    letter-spacing: 1px;
    font-size: 150%;
}

p {
    margin-bottom: 16px;
}

strong {
    font-weight: bold;
}

section {
    background-size: cover;
}

.footer {
    padding-top: 95px;
    padding-bottom: 95px;

    /* TODO Should be styled with angular-material? */
    background-color: rgb(84,84,84);
    color: rgb(255,255,255)
}

p, .desc {
    text-align: justify;
}

a {
    outline: none;
    text-decoration: none;
}
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

.small-text {
    font-size: 12px;
}
.big-text {
    font-size: 16px;
}
.uppercase-text {
    text-transform: uppercase;
}
.strong-text {
    font-weight: bold;
}
.letter-spacing {
    letter-spacing: 1px;
}
.letter-spacing.big {
    letter-spacing: 2px;
}
.letter-spacing.bigger {
    letter-spacing: 3px;
}

.divider {
    min-width: 100%;
    background-color: #eeedee;
    height: 1px;
    margin: 30px 0;
}
.divider.no-space {
    margin: 0 !important;
}
.divider.large {
    margin: 95px 0;
}
.divider.larger {
    margin: 165px 0;
}
.divider.huge {
    margin: 190px 0;
}
.space {
    height: 30px;
    background-color: transparent;
    display: block;
}
.space.large {
    height: 95px;
}
.space.larger {
    height: 165px;
}
.space.huge {
    height: 190px;
}

.margin {
    margin: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.no-margin-top {
    margin-top: 0;
}

.list-inline.social-links > .social-button > .social-icon {
    font-size: 14px;
    height: 14px;
}

.padding {
    padding: 0 !important
}

.md-button.very-small-text {
    font-size: 10px;
}

.md-button.small-text {
    font-size: 12px;
}

.md-button.small-text.letter-spacing {
    font-size: 12px;
    letter-spacing: 1px;
}

.img-white {
    filter: brightness(0) invert(1);
}

.shaded {
    color: rgba(255,255,255,0.36)
}

.layout-margin-right {
    margin-right: 8px;
}

.layout-margin-left {
    margin-left: 8px;
}

.layout-margin-top {
    margin-top: 8px;
}

.layout-margin-bottom {
    margin-bottom: 8px;
}

/* parallax from http://keithclark.co.uk/articles/practical-css-parallax/ */
@media screen and (min-width: 40em) {
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
        html, body {
            overflow: hidden;
            height: 100%;
        }

        .parallax {
            position: relative;
            min-height: 100vh;
            width: 100vw;
            /*box-sizing: border-box;*/
            /*box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);*/
            transform-style: inherit;
            /*perspective: 300px;*/
            /*perspective-origin: 100% 100%;*/
        }

        .parallax-content {
            transform-style: preserve-3d;
            transform: translateZ(0);
            z-index: 0;
        }
        .parallax-back {
            transform: translateZ(-1px) scale(2);
            z-index: -1;
        }
        .parallax-deep {
            transform: translateZ(-2px) scale(3);
            z-index: -1;
        }
        .parallax-back, .parallax-deep {
            transform-origin: 100% 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.fancy-header {
    color: rgb(255,255,255);
    background: rgb(0,0,0);
    padding: 12px 12px 12px 12px;
    text-transform: none;
}

h2.fancy-header {
    font-size: 250%;
    font-weight: normal;
}

.fancy-header > strong {
    color: rgb(0,170,170);
}

.grey {
    background: rgb(248,248,248)
}

.dark {
    background-color: rgb(84,84,84);
    color: rgb(255,255,255);
}

.interlude:after {
    content:'';
    border-top: solid 35px rgb(84,84,84);
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
}
.interlude h2 {
    margin-bottom: 32px;
    letter-spacing: 1px;
    font-size: 200%;
    font-weight: normal;
    text-transform: uppercase;
    color: rgba(255,255,255, 0.8);
}

h2.section-header > strong {
    color: rgb(0,170,170);
    text-transform: uppercase;
}

.round {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}


.icon-box {
    margin-top: 0px;
    margin-bottom: 32px;
}
.icon-wrapper > .md-button {
    width: 110px !important;
    height: 110px !important;
}

.icon-wrapper > .md-button > md-icon {
    font-size: 64px;
    height: 64px;
}

.icon-desc > h4 {
    font-weight: normal;
    font-size: 125%;
    margin-bottom: 8px;
}

.btn-cta {
    font-size: 56px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-top: 72px !important;
    margin-bottom: 36px !important;
}

.top-shadow {

}