.footer {
    padding-top: 95px;
    padding-bottom: 95px;

    /* TODO Should be styled with angular-material? */
    background-color: #545454;
    color: #FFFFFF
}

a {
    /* color: #00aaaa; */
    outline: none;
    text-decoration: none;
}
a:hover,
a:focus {
    /*color: #00aaaa;*/
    outline: none;
    text-decoration: none;
}

.small-text {
    font-size: 12px;
}
.big-text {
    font-size: 16px;
}
.uppercase-text {
    text-transform: uppercase;
}
.strong-text {
    font-weight: bold;
}
.letter-spacing {
    letter-spacing: 1px;
}
.letter-spacing.big {
    letter-spacing: 2px;
}
.letter-spacing.bigger {
    letter-spacing: 3px;
}

.divider {
    min-width: 100%;
    background-color: #eeedee;
    height: 1px;
    margin: 30px 0;
}
.divider.no-space {
    margin: 0 !important;
}
.divider.large {
    margin: 95px 0;
}
.divider.larger {
    margin: 165px 0;
}
.divider.huge {
    margin: 190px 0;
}
.space {
    height: 30px;
    background-color: transparent;
    display: block;
}
.space.large {
    height: 95px;
}
.space.larger {
    height: 165px;
}
.space.huge {
    height: 190px;
}

.margin {
    margin: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.no-margin-top {
    margin-top: 0;
}

.list-inline.social-links > .social-button > .social-icon {
    font-size: 14px;
    height: 14px;
}

.padding {
    padding: 0 !important
}

.md-button.very-small-text {
    font-size: 10px;
}

.md-button.small-text {
    font-size: 12px;
}

.md-button.small-text.letter-spacing {
    font-size: 12px;
    letter-spacing: 1px;
}

.img-white {
    filter: brightness(0) invert(1);
}

.shaded {
    color: rgba(255,255,255,0.12)
}

.layout-margin-right {
    margin-right: 8px;
}

.layout-margin-left {
    margin-left: 8px;
}

.layout-margin-top {
    margin-top: 8px;
}

.layout-margin-bottom {
    margin-bottom: 8px;
}