<section class="footer" layout="row" layout-align="center stretch">
    <div class="gutter" layout="column" flex-gt-sm="75" >

        <div class="container">
            <p>container 3</p>
            <!--<div flex="66">-->
            <!--<div layout="column">-->
            <!--<p>BIGBoards</p>-->
            <!--<a href="/">Home</a>-->
            <!--<a href="/about">About</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div flex="33">-->
            <!--<div layout="row">-->
            <!--<div layout="column">-->
            <!--<h1>The Team</h1>-->
            <!--<p>We are the greatest team in the world!</p>-->
            <!--</div>-->
            <!--<div layout="column">-->
            <!--<h1>Subscribe</h1>-->
            <!--<p>Give us your email address so we can rule the world!</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>

        <div class="container">
            <div class="divider">&nbsp;</div>
        </div>

        <div class="container" layout="row" layout-align="center center">
            <p class="uppercase-text letter-spacing margin">&copy; <span ng-bind="currentYear"></span> <strong>BigBoards</strong> CVBA</p>
        </div>
    </div>
</section>