<section class="footer" layout="row" layout-align="center stretch">
    <div class="container" layout="column" flex-gt-sm="85" layout-align="center stretch">
        <div class="row" layout="column" layout-align="stretch center" layout-margin>

            <div layout="row" layout-align="center center">
                <div class="layout-margin-right" layout="column" layout-align="center center">
                    <h3 class="small-text margin">Follow us</h3>
                    <div class="list-inline social-links" layout="row" layout-align="center center">
                        <md-button class="social-button md-icon-button md-accent margin" aria-label="LinkedIn"><md-icon class="social-icon ti" md-font-icon="ti-linkedin"></md-icon></md-button>
                        <md-button class="social-button md-icon-button md-accent margin" aria-label="Twitter"><md-icon class="social-icon ti" md-font-icon="ti-twitter"></md-icon></md-button>
                        <md-button class="social-button md-icon-button md-accent margin" aria-label="Facebook"><md-icon class="social-icon ti" md-font-icon="ti-facebook"></md-icon></md-button>
                        <md-button class="social-button md-icon-button md-accent margin" aria-label="Flickr"><md-icon class="social-icon ti" md-font-icon="ti-flickr"></md-icon></md-button>
                    </div>
                </div>
                <div class="layout-margin-left" layout="column" layout-align="center center">
                    <h3 class="small-text margin">Develop with us</h3>
                    <div class="list-inline social-links" layout="row" layout-align="center center">
                        <md-button class="social-button md-icon-button md-accent margin" aria-label="GitHub"><md-icon class="social-icon ti" md-font-icon="ti-github"></md-icon></md-button>
                        <md-button class="social-button md-icon-button md-accent margin" aria-label="Slack"><md-icon class="social-icon fa" md-font-icon="fa-slack"></md-icon></md-button>
                        <md-button class="social-button md-icon-button md-accent margin" aria-label="UserVoice"><md-icon class="social-icon fa" md-font-icon="fa-bullhorn"></md-icon></md-button>
                        <md-button class="social-button md-icon-button md-accent margin" aria-label="Documentation"><md-icon class="social-icon fa" md-font-icon="fa-book"></md-icon></md-button>
                    </div>
                </div>
            </div>

            <md-divider></md-divider>

            <div layout="row" layout-align="stretch center">
                <md-button class="letter-spacing" ng-href="/" aria-label="home">Home</md-button>
                <md-button class="letter-spacing" ng-href="contact" aria-label="contact">Contact</md-button>
                <md-button class="letter-spacing" ng-href="blog" aria-lable="blog">Blog</md-button>
                <!--<md-button class="very-small-text" ng-href="/terms" aria-label="terms">Terms</md-button>-->
                <!--<md-button class="very-small-text" ng-href="/privacy" aria-label="privacy">Privacy</md-button>-->
                <div class="filler" flex></div>
                <p class="small-text letter-spacing">&copy; <span ng-bind="bigboards.currentYear"></span> BigBoards CVBA.</p>
            </div>

        </div>
    </div>
</section>