<section class="footer" layout="row" layout-align="center stretch">
    <div class="container" layout="column" flex-gt-sm="75" layout-align="center center">
        <div class="row" layout="column" layout-align="center center" layout-margin>

            <div class="list-inline social-links" layout="row" layout-align="center center">
                <md-button class="social-button md-icon-button md-mini md-accent margin" aria-label="Twitter"><md-icon class="social-icon ti" md-font-icon="ti-twitter"></md-icon></md-button>
                <md-button class="social-button md-icon-button md-mini md-accent margin" aria-label="Flickr"><md-icon class="social-icon ti" md-font-icon="ti-flickr"></md-icon></md-button>
                <md-button class="social-button md-icon-button md-mini md-accent margin" aria-label="LinkedIn"><md-icon class="social-icon ti" md-font-icon="ti-linkedin"></md-icon></md-button>
                <md-button class="social-button md-icon-button md-mini md-accent margin" aria-label="Facebook"><md-icon class="social-icon ti" md-font-icon="ti-facebook"></md-icon></md-button>
            </div>
            <p class="small-text uppercase-text letter-spacing">&copy; BigBoards <span ng-bind="bigboards.currentYear"></span>.</p>

        </div>
    </div>
</section>