<md-toolbar class="nav-menu md-menu-toolbar layout-padding md-shadow-bottom-z-1" layout-align="center center">
    <div class="md-toolbar-tools" flex-gt-sm="85">
        <a class="logo" href="/" style="height: 100%">
            <img src="images/horizontal-logo-final-small1.png" height="100%"/>
        </a>
        <span class="filler" flex></span>
        <md-button ng-href="/" aria-label="home">Home</md-button>
        <md-button ng-href="contact" aria-label="contact">Contact</md-button>
        <md-button ng-href="blog" aria-label="blog">Blog</md-button>
        <md-button ng-href="orderprototype" class="md-raised md-primary" aria-label="buy a hex">Buy a Hex!</md-button>
    </div>
</md-toolbar>
