<section class="nav margin" layout="row" layout-align="center stretch">
    <div class="container" layout="column" flex-gt-sm="100" layout-align="stretch center">
        <div class="row" layout="column" layout-fill>
            <md-toolbar class="nav-menu md-menu-toolbar layout-padding md-shadow-bottom-z-1" md-scroll-shrink>
                <div class="md-toolbar-tools">
                    <a class="logo" href="/" style="height: 100%">
                        <img src="images/horizontal-logo-final-small1.png" height="100%"/>
                    </a>
                    <span class="filler" flex></span>
                    <md-button aria-label="home">Home</md-button>
                    <md-button aria-label="contact">Contact</md-button>
                    <md-button aria-label="blog">Blog</md-button>
                    <md-button class="md-raised md-primary" aria-label="buy a hex">Buy a Hex!</md-button>
                </div>
            </md-toolbar>
        </div>
    </div>
</section>